<div>
    <div class="text-center">
        <h1>
            {{ 'level_up.title' | translate }}
        </h1>
    </div>

    <div class="mt-3">
        <span>{{ 'level_up.con' | translate }} {{ this.gameState.heroName }} !</span>
    </div>

    <div class="mt-3 d-flex">
        <div class="col-8">{{ 'level_up.remaining' | translate }}</div>
        <div class="col-6">{{ this.gameState.levelUps }}</div>
    </div>

    <div class="mt-3" *ngIf="this.defaultSkills.length">
        <div>
            {{ 'level_up.default' | translate }}
        </div>
        <app-skill-description *ngFor="let skill of this.defaultSkills" [skill]="skill" ></app-skill-description>
    </div>

    <div class="mt-3">
        <div>
            {{ 'level_up.choose' | translate }}
        </div>
        <div class="form-group">
            <div *ngFor="let skill of this.options" class="d-flex">
                <div class="col-1 align-self-center">
                    <input type="radio" 
                           name="selectedSkill"
                           id="selectedSkill"
                           [value]="skill.id"
                           (change)="skillChanged($event.target.value)">
                </div>
          
                <label [for]="skill.id" class="col-11" role="button">
                    <app-skill-description [skill]="skill"></app-skill-description>
                </label>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="acceptOption()">
                {{ 'level_up.select' | translate }}
            </button>
        </div>
    </div>
</div>
